body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    box-sizing: border-box;
    background-image: url('../images/Group\ 14.png');
    background-position: center;
    background-attachment: fixed;

}

* { box-sizing: border-box; margin: 0; }


/* width */
::-webkit-scrollbar {
    width: 9px;
  }
  
  ::-webkit-scrollbar:hover {
    width: 16px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #480202c2; 
    border-radius: 60px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a00000; 
    border-radius: 10px;
  }


.register_section {
    display: none;
}




#register {
    // // position: fixed;
    // top:0px;
    // right: 0px;
    // left:0px;
    // bottom: 0px;
    // // background: #835050db;
    // overflow: auto;

    .contents {
        // width: 90%;
        margin:auto;

        .splash-screen {
            height: 100vh;
            border-bottom: 0.5px solid #3a0202;


            img {
                display: block;
                margin: auto;
                margin-top: 15vh;
                margin-bottom: 12vh;
            }

            h2 {
                margin-bottom: 10vh;
                text-align: center;
                font-size: 42px;
                font-weight: normal;
                color: #3a0202;
            }

            .scroll-caption {
                text-align: center;
                color: #3a0202;

            }
        }


    }
}



.form-contents {
    width: 80%;
    margin: auto;
    // height: 100vh;

    h1 {
        color: #ffffff;
        color: #3a0202;
        padding: 10px;
        margin: 0;
        font-size: 44px;
        /* background: rebeccapurple; */
        text-align: center;
        text-transform: uppercase;
        /* border: 4px solid #3a0202; */
        margin-top: 16vh;
        background: #f38d04;
        box-shadow: -1px -15px 0px 8px;
        margin-bottom: 39px;
    }

    .from-group {
        margin-top: 17px;

        label {
            display: block;
            color: #3a0202;
            font-weight: bold;
        }

           
    }
    p {
        text-align: center;
    }
}
.input {
    width: 100%;
    padding: 10px;
    border: 2px solid #3a0202;
    // border-radius: 6px;
}     

.hide {
    display: none;
}

.show {
    display: block;
}

.login-section {
    margin-top: 28vh !important;
}

.login-btn {
    margin: auto;
    display: block;
    margin-top: 19px;
    background: transparent;
    border: none;
    font-size: 17px;
    font-weight: bold;
    color: #4e0303;
}

.btn {
    display: block;
    width: 100%;
    margin-top: 23px;
    font-size: 18px;
    padding: 11px;
    background: #3a0202;
    border: none;
    color: #fff;
    border-radius: 6px;
}

/// styles here
.containner-login-register {
    display: grid;
    grid-template-columns: 4fr 3fr;
    height: 100vh;

    .image-section {
        background: #3a0202;
        transition: all 0.5s ease-in-out;
        background-image: url(../../images/cover.jpg);
        background-position: center;
        background-size: cover;

        .caption {
            width: 47%;
            max-width: 547px;
            margin: auto;
            padding: 0px 17px;
            position: absolute;
            bottom: 44px;
            color: #fff;
            left: 35px;
            background: #000000d6;
            padding: 32px 26px;
            border: 2px solid #f38d04;

            .logo-containner {
                display: grid;
                grid-template-columns: 59px 1fr;

                .logo {
                    width: 50px;
                }

                h3 {
                    font-size: 32px;
                    margin-top: 4px;
                }
            }

            h4 {
                border-top: 2px solid #f38d04;
                margin-bottom: 9px;
                margin-top: 10px;
                padding-top: 8px;
                font-size: 27px;
                font-weight: normal;

                b {
                    display: block;
                }
            }

            h2 {
                font-size: 20px;
                font-style: italic;
                text-transform: lowercase;
                font-weight: normal;
                color: gold;
                margin-bottom: 4px;
            }
        }
    }


}


.alert-display {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

    .alert {
        background: #6f6f6f;
        color: #fff;
        padding: 8px;
        border-radius: 7px;
        font-size: 20px;
        text-align: center;
        padding-bottom: 11px;
    }

    .alert.danger {
        background: red;
    }

    .alert.success {
        background: #00b507;
    }

    .alert.warning {
        background: #FFC107;
        color: #000;
    }
}



@media only screen and (max-width: 790px) {
    body {
        // background: red;
    }
    
    .containner-login-register {
        display: block !important;
        
        .image-section {
            height: 36vh;
            
            .caption {
                z-index: 111111111;
                padding: 0;
                width: fit-content;
                top: 0;
                bottom: unset;
                right: 0;
                left: 0;
                border: none;
                background: transparent;

                h4, h2, h6 {
                    display: none
                }

                h3 {
                    text-shadow: 0px 0px 21px #3a0202;
                }
            }
        }
    }
            
    .form-contents {
        width: 100%;
        position: absolute;
        right: 0;
        left: 0;
        top: 15px;
        margin-top: 0px;
        padding-top: 0;
        background: #fff;
        width: 90%;
        padding: 23px 7px;
        margin: auto;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        // min-width: 488px;
        margin-top: 0 !important;
        box-shadow: 0px 0px 30px 1px #43001f;
        top: 13vh;
        width: 90%;
    }
    
    .form-contents h1 {
        margin: 0;
        margin-top: 32px;
        margin: auto;
    }
    
    .containner-login-register {
        height: auto
    }
    
    .from-group {
        padding: 0px 21px;
    }
    
    .btn {
        margin: 0px 21px;
        display: block;
        width: -webkit-fill-available;
        margin-top: 27px;
    }
            
        }
        